* {
    margin: 0;
    padding: 0;
}

.header {
    height: 200px;
    background-color: yellow;
}

.article {
    height: 400px;
    background-color: orange;
    overflow: hidden;
}

.footer {
    height: 150px;
    background-color: blue;
}

.middle {
    background-color: #149eed;
    float: left;
    width: 100%;
    	padding-bottom: 9999px;
	margin-bottom: -9999px;
}

.inner {
    margin-right: 150px;
    margin-left: 200px;
}

.left {
    background-color: #14edd1;
    float: left;
    width: 200px;
    height: 16px;
    margin-left: -100%;
    padding-bottom: 9999px;
	margin-bottom: -9999px;
}

.right {
    background-color: #ed7514;
    float: left;
    width: 150px;
    height: 16px;
    margin-left: -150px;
    padding-bottom: 9999px;
	margin-bottom: -9999px;
}
